* {
    margin: 0;
    padding: 0;
}

/*---navigation---*/

#navigation {
    position: sticky;
    top: 0;
    z-index: 10;
    height: -20px;
}

#navigation .navbar-brand img {
    height: 30px;
    padding-left: 30px;
}

#navigation .navbar-nav li {
    padding: 0 10px;
}

#navigation .navbar-nav li a {
    float: right;
    text-align: left;
}

#navigation ul li a:hover {
    color: #007bff!important
}

#navigation .navbar {
    background: #fff
}

#navigation .navbar-toggler {
    border: none !important
}

#navigation .nav-link {
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}

/*--home--*/
#home{
    background: url("../img/laptop-on-desk.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

#home .container{
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    filter: drop-shadow(5px 5px 5px #00000080);
}

#home p{
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    filter: drop-shadow(5px 5px 5px #00000080);
}

#home .social{
    float: left;
}

#home .social .fa{
    color: #fff;
    font-size: 20px;
    margin-right: 30px;
    filter: drop-shadow(5px 5px 5px #00000080);
}
/*--about--*/

/*--contact--*/

/*--portfolio--*